<!DOCTYPE html>
<html lang="<%= config['wiki'].language %>">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="<%= config['wiki'].author %>">
    <meta name="description" content="<%= config['wiki'].description %>">
    <title>
        <% if (page && page.title) { %>
        <%= page.title %> - <%= config['wiki'].title %>
        <% } else { %>
        <%= config['wiki'].title %> - <%= config['wiki'].tagline %>
        <% } %>
    </title>
    <link href="<%= config['base'].path %>assets/bootstrap.min.css" rel="stylesheet"/>
    <link href="<%= config['base'].path %>assets/style.css" rel="stylesheet"/>
    <script src="<%= config['base'].path %>assets/highlight.min.js"></script>
</head>
<body>
<div class="container">
    <div class="page-header">
        <% if (page && page.title) { %>
        <h1><a href="<%= config['base'].path %>" class="logo-text"><%= config['wiki'].title %></a>&nbsp;
            <% if (page.link.lastIndexOf('/') !== 0) { %>
            <% var prelink = page.link.split('/')[1] %>
            <small>/ <%= prelink %> / <%= page.title %></small>
            <% } else { %>
            <small>/ <%= page.title %></small>
            <% } %>
        </h1>
        <% } else { %>
        <h1><a href="<%= config['base'].path %>" class="logo-text"><%= config['wiki'].title %></a></h1>
        <p class="lead"><%= config['wiki'].tagline %></p>
        <% } %>
    </div>
