<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Navigation</h3>
    </div>
    <div class="panel-body">
        <h6><a href="<%= config['base'].path %>" target="_self">Homepage</a></h6>
        <% categories.forEach(function(category) { %>
        <h5><%= category.name %></h5>
        <ul class="list-unstyled">
            <% category.pages.forEach(function(p) { %>
            <li>
                <a href="<%= config['base'].path %><%= config['dir'].page %><%= p.link %>/" target="_self">
                    <% if (p.link.lastIndexOf('/') !== 0) { %>
                    <% var prelink = p.link.split('/')[1] %>
                    <%= prelink %> / <%= p.title %>
                    <% } else { %>
                    <%= p.title %>
                    <% } %>
                </a>
            </li>
            <% }) %>
        </ul>
        <% }) %>
        <% if (config['wiki'].log) { %>
        <a href="<%= config['base'].path %>changelog/">Changelog</a>
        <% } %>
    </div>
</div>
